/* @import url("../reset.css"); */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0');


body{
    font-family: 'Bebas Neue', sans-serif;
    min-height: 100vh;
    background: rgba(246, 246, 249, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-card{
    margin-top: 50px;
    width: 450px;
    background-color: #D9D9D9;
    padding: 4rem;
    border-radius: 25px;
    position: relative;
}

.cadastro-card::before{
    content: '';
    position: absolute;
    background: #d9d9d97e;
    border-radius: 25px;
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.cadastro-card-logo{
    margin-bottom: 2rem;
}

.cadastro-card-logo img{
    width: 150px;
}

.cadastro-card-logo,
.cadastro-card-header,
.cadastro-card-footer{
    text-align: center;
}

.cadastro-card a{
    text-decoration: none;
    color: #35339a;
}

.cadastro-card a:hover{
    text-decoration: underline;
}

.cadastro-card-header{
    margin-bottom: 2rem;
}

.cadastro-card-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.cadastro-card-header h1 + div{
    font-size: calc(1rem * 8);
    opacity: .8;
}

.cadastro-card-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.cadastro-card-form .form-item{
    position: relative;
}

.cadastro-card-form .form-item-icon{
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

.cadastro-card-form .checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}

.cadastro-card-form .form-item-other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * 0.8);
    margin-bottom: .5rem;
}

.cadastro-card-footer{
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
}

.cadastro-card input[type="text"],
.cadastro-card input[type="password"],
.cadastro-card input[type="email"]{
    border: none;
    outline: none;
    background: #FFF;
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 10px;
    width: 100%;
    transition: background .5s;
}

.cadastro-card input:focus{
    background: #DD6457;
}

.cadastro-card input[type="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: black;
}

.cadastro-card-form button{
    display: block;
    margin: 0 auto;
    background-color: #c2bbbb;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 200px;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.cadastro-card-form button:hover{

    background-color: #DD6457;
    cursor: pointer;
}

.cadastro-card-social{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.cadastro-card-social > div{
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1rem * .8);
}

.cadastro-card-social-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cadastro-card-social-btns a{
    display: flex;
    align-items: center;
    justify-content: center;
    columns: black;
    color: #3D3E40;
    width: 50px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 100px;
    transition: all .5s;
}

.cadastro-card-social-btns a:hover{
    color: black;
    background: #DD6457;
    transform: scale(1.1);
}


/* ==================== RESPONSIVO ==================== */

@media(max-width: 768px){
    
    body{
        padding: 2rem 0;
    }

    .login-card{
        width: 300px;
        padding: 2rem;
    }
}
