@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;   
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.caixa_aluno {

    height: auto;
    width: auto;
    margin: 10px;

}

.container_aluno {
    width: 100%;
    display: flex;
    align-items: center; 

}

.section_perfil_aluno {

    width: 1500px;
    padding: 0px;
}

.foto-p img {
    width: 170px;
    height: 170px;
}
.alerta_aluno {
    align-items:start;
    padding: 5px;
    font-size: 22px;
}
.info {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: start;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    margin-left: 200px;
}
.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.linha {
    width: auto;
    height: 18px;
    background: #A21500;
}
.containerb {
    padding: 30px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-around ;
    background: #000;
}
.marcadas {
    width: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.marcadas h2 {
    text-align: center;
    margin-bottom: 40px;
}
.marcadas span {
    text-align: start;
    margin-bottom: 3px;
    font-size: 20px;
}
.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.botoes button {
    font-size: 20px;
    width: 245px;
    height: 85px;
    background-color: #A21500;
    border-radius: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.botoes button:hover {

    background-color: #DD6457;
    transform: scale(.95);

}

.botoes button:hover:active {

    transform: scale(.90);

}

.avisos_aluno {
    display: flex; 
    flex-direction: column;
    background-color: #d1d1d1;
    width: 550px;
    border-radius: 2px;
    overflow-y: auto;

}

.avisos_aluno h2 {
    padding: 10px;
    color: #A21500;
    margin-bottom: 10px;
    text-align: center;
}

.avisos_aluno ul {
    padding: 10px; 
}

.avisos_aluno li {

    list-style:inside;
}

header {
    width: 100%;
    max-height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    
}
.img-logo {
    width: 225px;
    height: 120px;
    padding: 10px;
    margin: 30px 0px 0px 50px;   
    cursor: pointer;
}

.container-logo {
    display: flex;
    align-items: center;
}
.logo-texto {
    margin-left: 20px;
}
.menu li {
    display: inline-block;
    margin-right: 100px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 21px;
}
.menu li:hover {
    color: #3d3e40;
}

.menu li a {
    font-size: 80px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    
}
.menu button {
    width: 70px;
    height: 50px;
    font-size: 19px;
    color: #fff;
    background-color: #3d3e40;
    border-radius: 5px;
    margin-right: 100px;
}

footer {
    display: flex;
    width: 100%;
    background-color:#A21500;
    bottom: 0;
    
}
footer .boxs {
   display: flex;
   flex-direction: column;
   padding: 20px;
   flex:1;
}
footer .area--icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer .areat {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.boxs h2 {
    color: #fff ;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxs ul li {
    margin: 10px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.boxs ul li a {
    text-decoration: none;
}
.imgb {
    width: 100px;
    height: 100px;
    margin: 24px 0px 0px 65px;
}
.rsicon {
    width: 30px;
    height: 30px;
}
.boxs a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.boxs a:hover {
    color: #6b6b6b;
}