@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    width: 100%;
    max-height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    
}
.img-logo {
    width: 225px;
    height: 120px;
    padding: 10px;
    margin: 30px 0px 0px 50px;   
    cursor: pointer;
}

.container-logo {
    display: flex;
    align-items: center;
}
.logo-texto {
    margin-left: 20px;
}
.menu li {
    display: inline-block;
    margin-right: 100px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 21px;
}
.menu li:hover {
    color: #3d3e40;
}

.menu li a {
    font-size: 80px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    
}
.menu button {
    width: 70px;
    height: 50px;
    font-size: 19px;
    color: #fff;
    background-color: #3d3e40;
    border-radius: 5px;
    margin-right: 100px;
}

footer {
    display: flex;
    width: 100%;
    background-color:#A21500;
    bottom: 0;
    
}
footer .boxs {
   display: flex;
   flex-direction: column;
   padding: 20px;
   flex:1;
}
footer .area--icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer .areat {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.boxs h2 {
    color: #fff ;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxs ul li {
    margin: 10px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.boxs ul li a {
    text-decoration: none;
}
.imgb {
    width: 100px;
    height: 100px;
    margin: 24px 0px 0px 65px;
}
.rsicon {
    width: 30px;
    height: 30px;
}
.boxs a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.boxs a:hover {
    color: #6b6b6b;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
    
}
.form {
    width: 850px;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #f0f0f3;
    padding: 3rem;
}
.form h1 {
    margin-bottom: 1em;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    padding: 1rem 0;
}
.input-box {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    font-size: 27px;
    margin-bottom: 1.1rem;
}
.input-box input{
    width: 300px;
    height: 40px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
    
}
.b-cadastro {
    align-items: center;
    justify-content: center;
    display: flex;
}
.bc {
    font-size: 27px ;
    color: #fff;
    width: 175px;
    height: 70px;
    background: #A21500;
    text-decoration: none;
    border-radius: 20px;
    border: none;
}
.b-cadastro button a {
    text-decoration: none;
    color: #fff;
}