
.header{

    width: 100%;
    left: 0;
    max-height: 10vw;
    position: fixed;
    display: flex;
    top: 0;
    background-color: #fff;
    border-bottom: 0.2vw #3D3E40 solid;
    z-index: 1000;
}

.header_options{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;

}

.header img {

    width: 100%;
    height: 100%;

}

.img_logo {
    
    max-width: 12vw;
    max-height: 6vw;
    padding: 1vw;
    cursor: pointer;
    align-content: center;
    margin: 0vw 0vw 0vw 2vw;   
    
}

.menu ul {

    width: 100%;
    align-content: center; 
    
}

.menu li {
    
    margin-inline-end: 2vw;
    display: inline-block;
    justify-content: right;
}

.menu li a {

    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    cursor: pointer;

}

.menu li a:hover {

    color: #3D3E40;

}


.menu button {

    width: 5vw;
    height: 2.5vw;
    font-size: 1vw;
    color: #fff;
    cursor: pointer;
    background-color: #3d3e40;
    border-radius: 0.5vw;
    transition: background .3s;
    transition: transform .3s;
    border: none;

}

.menu button:hover {

    background-color: #686869;
    transform: scale(0.95);

}

.menu button:hover:active {

    transform: scale(0.90);

}

