@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caixas {
    width: 52% ;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    align-items: center;
    margin-bottom: 90px;
}
.imagens1 a{
    text-decoration: none;
}
.imagens2 a{
   
    text-decoration: none;
}
.caixa {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.imagens:hover {
    cursor: pointer;
}


.plan1 {
    width: 300px;
    height: 318px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #fff;
    border-radius: 5px  ;
    text-decoration: none;
}
.plan1 h1 {
    margin-top: 20px;
    text-decoration: none;
}
.span1 {
    display: flex;
    flex-direction: column;
}
.col1 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    background: #A21500;
    padding: 6px;
    border-radius: 3px 0 0 3px;
    margin-left: 30px;
    margin-bottom: 2.5px;
}
.col2 {
    display: flex;
    width: 85%;
    justify-content: space-between;
    background: #fff;
    color: #000;
    padding: 6px;
    border-radius: 3px 0 0 3px;
    margin-left: 45px;
    margin-bottom: 2.5px;
}
.col3 {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    background: #A21500;
    padding: 6px;
    border-radius: 3px 0 0 3px;
    margin-left: 60px;
    margin-bottom: 5px;
}
.col1 span {
    font-size: 12px;
}
.col1 h3 {
    font-size: 22px;
}
.col2 span {
    font-size: 12px;
}
.col2 h3 {
    font-size: 22px;
}
.col3 span {
    font-size: 12px;
}
.col3 h3 {
    font-size: 22px;
}
.plan2 {
    width: 305px;
    height: 360px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #fff;
    border-radius: 5px  ;
    text-decoration: none;
}
.col4 {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}
.col4 h2 { 
    font-size: 42px;
}
.col4 span {
    font-size: 12px;
}
.plan2 h4 {
    font-size: 12px ;
}
.plan2 h1 {
    margin-top: 20px;
}
.plan2 h3 {
    background: #A21500;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    margin: 7px 0;
}