.gerenciador{
    display: block;
    margin-inline-start: 5px;
    top: 0;
    font-size: 20px;
    width: 250px;
    height: auto;
    justify-content: left;
    background-color: #d1d1d1;
    
}

.gerenciador li a{
    color:black;
    text-decoration: none;
}


.gerenciador ul li a{
    text-decoration: none;
    font-size: 18px;
}

.gerenciador li{
    padding: 10px 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-inline-start: 10px;
    margin-inline-end: 15px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    border: #6b6b6b;
    background-color: #fff;
    list-style: none;
    box-shadow: 2px 2px #acacac;
    cursor: pointer;

}




.titulo_gerenciador{
    background-color: #18191a;
    color:white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 10px;
    margin-block-end: 12px;
    height: 30px;
    align-content: center;
    line-height: 1.4;

}

.menu_gerenciador { 
    margin-block-start: 10px;
    background-color: #d1d1d1;
    justify-content: center;
    height: auto;
    padding: 0;
    
}