

.caixa_cadastro_professor {

    height: auto;
    width: auto;
    justify-content: center;
    align-self: center;
    display: flex;
    margin: 10px;

}

.titulo_cadastro_professor {

    background-color: #A21500;
    height: 50px;
    width: 1600px;
    color:white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-block-start: 10px;

}

.cadastros_section {

    width: 1600px;
    padding: 0;

}

.caixa_input {

    display: flex;
    width: 100%;
    height: 80px;
    padding: 20px;
    gap: 10px;

}

.input_aluno {

    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    margin-left: auto;
    width: 400px;

}

.consultar_aluno{
    width: 100px; 
    font-size: 18px;
    border-radius: 10px;
    background-color: #3D3E40;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.consultar_aluno:hover {
    transform: scale(.95);
    background-color: #686869;
}

.delete {

    background-color: #700809;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    width: 100px;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
    border: none;

}

.delete:hover {

    background-color: #A21500;
    transform: scale(.95);
}

.delete:hover:active {

    transform: scale(.9);
}

.input_aluno input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    padding-left: 40px;
    font-size: 16px;
}


.input_aluno input::placeholder {
    font-size: 16px;
}

.input_aluno input {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23000" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
    background-repeat: no-repeat;
    background-position: 10px center;
    
}

.lock_checkbox{
    margin-right: 10px;
}

.trancar_destrancar {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }


.trancar_destrancar input {
    opacity: 0;
    width: 0;
    height: 0;
}

.quadro_dados_cadastrais {

    width: auto;
    height: 700px;
    margin: 20px 15px 20px 15px;
    box-shadow: inset 0.1px 3px 3px 3px #acacac;
    padding: 20px;

}


.tipo_cadastro {

    display: flex;
    width: auto;
    height: 50px;
    margin: 0px 20px 0 20px;
    align-items: center;
    justify-content: space-between;
    
}

.tipo_cadastro input[type=radio] {

    width: 20px;
    height: 20px;
    
}

.tipo_cadastro label {

    width: auto;
    height: 50px;
    font-size: 30px;
    margin-left: 10px;
    
}

.dados_cadastrais{

    width: auto;
    height: 500px;
    margin: 10px;

}

.dados_cadastrais div {

    display: flex;  
}

.dados_cadastrais input{

    border-radius: 5px;
    padding: 5px;
    font-size: 20px;

}

.dados_cadastrais label {

    font-size: 25px;
    width: auto;
    height: 40px;

}

.input_nome, .input_sobrenome, .input_RG,
.input_CPF, .input_data_nasc,.input_email,
.input_tel, .input_endereco, .input_num,
.input_cidade, .input_CEP, .input_reponsavel, 
.input_tel_responsavel, .input_senha, .input_conf_senha,
.input_sexo{

    display: flex;
    margin-bottom: 15px;
}

.input_nome input, .input_sobrenome input, .input_RG input,
.input_CPF input, .input_data_nasc input,.input_email input,
.input_tel input, .input_endereco input, .input_num input,
.input_cidade input, .input_CEP input, .input_reponsavel input, 
.input_tel_responsavel input, .input_senha input, .input_conf_senha input,
.input_sexo input{

    border: none;
    box-shadow: 0px 1px 2px 2px #acacac;
}


.input_nome input {

    width: 100%;
    margin-left: 3.8em;

}

.input_sobrenome input{

    width: 100%;
    margin-left: 1.3em;

}

.input_CPF input {

    width: 300px;
    margin-left: 4.5em;

}

.input_RG input {
    width: 300px;
    margin-left: 2.5em;
}

.input_RG label {
    margin-left: 2.5em;

} 

.input_data_nasc input {

    width: 250px;
    margin-left: 0.8em;
}

.input_data_nasc label {

    width: 200px;
    margin-left: 100px;

}

.input_email input {

    width: 100%;
    margin-left: 3.6em;

}

.input_tel input {

    width: 300px;
    margin-left: 2.2em;

}

.input_sexo input{
    width: 200px;
    margin-left: 2em;
}

.input_sexo label {
    margin-left: 2.5em;
}

.input_endereco input {

    width: 100%;
    margin-left: 1.95em;

}

.input_num input {

    width: 200px;
    margin-left: 2.65em;

}

.input_cidade input{

    width: 200px;
    margin-left: 1em;
}

.input_cidade label{

    margin-left: 2em;

}

.input_CEP input {

    width: 200px;
    margin-left: 1em;
}

.input_CEP label {

    margin-left: 2em;

}


.input_reponsavel input{

    width: 400px;
    margin-left: 0.5em;
}

.input_tel_responsavel input {

    width: 200px;
    margin-left: 1em;
}

.input_tel_responsavel label{

    margin-left: 1.5em;
}

.input_senha input{

    margin-left: 1em;
    width: 250px;

}

.input_senha label {

    margin-left: 10em;
}

.input_conf_senha input {

    margin-left: 1em;
    width: 250px;

}


.input_conf_senha label {

    margin-left: 6.4em;

}

.tipo_cadastro_options {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    box-shadow: inset 0.1px 3px 3px 3px #acacac;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;

}

.tipo_cadastro_options button {

    width: 200px;
    height: 50px;
    padding: 10px;
    line-height: 1;
    text-align: center;
    border-radius: 10px;
    background-color: #3D3E40;
    border: none;
    color: #fff;
    font-size: 22px;
    font-family: 'calibri';
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;

}

.tipo_cadastro_options button:hover {

    transform: scale(.95);
    background-color: #686869;

}

.tipo_cadastro_options button:hover:active {

    transform: scale(.9);

}




.cadastros_gerais_section {

    width: 100%;
    padding: 6rem 0;

}