@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    width: 100%;
    max-height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    
}
.img-logo {
    width: 225px;
    height: 120px;
    padding: 10px;
    margin: 15px 0px 0px 50px;   
    cursor: pointer;
}

.container-logo {
    display: flex;
    align-items: center;
}
.logo-texto {
    margin-left: 20px;
}
.menu li {
    display: inline-block;
    margin-right: 100px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 21px;
}
.menu li:hover {
    color: #3d3e40;
}

.menu li a {
    font-size: 80px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    
}
.menu button {
    width: 90px;
    height: 58px;
    font-size: 19px;
    color: #fff;
    background-color: #3d3e40;
    border-radius: 5px;
    margin-right: 100px;
}

footer {
    display: flex;
    width: 100%;
    background-color:#a21500;
    bottom: 0;
    position: fixed;
}
footer .boxs {
   display: flex;
   flex-direction: column;
   padding: 20px;
   flex:1;
}
footer .area--icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer .areat {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.boxs h2 {
    color: #fff ;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxs ul li {
    margin: 10px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.boxs ul li a {
    text-decoration: none;
}
.imgb {
    width: 100px;
    height: 100px;
    margin: 24px 0px 0px 65px;
}
.rsicon {
    width: 30px;
    height: 30px;
}
.boxs a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.boxs a:hover {
    color: #6b6b6b;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: #D9D9D9;
}
.recuperação {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    height: auto;
    width: auto;
    border-radius: 10px;
    background: #fff;
}
.recuperação h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.recuperação h3 {
    font-size: 25px;
    text-align: start;
    margin: 25px 0px;
    width: 55%;
    color: #6b6b6b;
}
.recuperação span {
    font-size: 18px;
    text-align: start;
    margin: 25px 0px;
    width: 350px;
    color: #6b6b6b;
}
.recuperação button {
    width: 200px;
    height: 52px;
    font-size: 19px;
    color: #fff;
    background: #1d1d1d;
    border-radius: 5px;
    border: none;
}
.emailveri {
    display: flex;
    flex-direction: column;
}
.emailveri input {
    width: 525px;
    height: 50px;
    border-radius: 10px;
    font-size: 19px;
    padding: 10px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    border: 1px solid
}