.footer {
    
    display: flex;
    width: 100%;
    background-color: #A21500;
    bottom: 0;
    left: 0;
    align-items: center baseline;
    padding: 10px;
    position: absolute;
    border-top: 2px #262729 solid ;
    
}

.logo_footer {

    width: 80px;
    height: 80px;
    justify-content: center;
    align-self: center;
    margin-left: 30px;

}

.boxs {

   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;

}   

.area_icons {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
    
}

.rsicon {
    
    max-height: 30px;
    max-width: 30px;
    cursor: pointer;
    
}

.areat {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    
    
    
}

.areat a{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    cursor: pointer;

}

.footer_titles {
    align-items: start;
    justify-content: center;
}

.footer_titles h2{
    
    color: #fff;
    font-size: 20px;
    
    

}


@media (max-width:780px){
    .logo_footer{
        max-width: 0px;
        margin-left: 0px;
    }

    .footer_titles h2{
        font-size: 15px;
    }
    .areat {
        font-size: 10px;
    }

    .rsicon {
        max-height: 20px;
        max-width: 20px;

    }

    .area_icons{
        padding-top: 0px;

    }

}
