@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.box {
    width: 500px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.box .box-u {
    position:relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box .box-u label {
    position: relative;
    font-size: 25px;
}
.box .box-u input {
    padding: 10px;
    border: 1px solid ;
    border-radius: 8px;
    width: 380px;
}
.button {
    background: #a21500;
    border-radius: 20px;
    border: none;
    width: 245px;
    height: 65px;
    font-size: 22px;
    color: white;
    margin: 15px 0;
}
h1{ 
    text-align: center;
    padding-bottom: 20px;
}
.button-container{
    display: flex;
    justify-content: center;
}
