@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.box {
    width: 500px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.box .box-u {
    position:relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box .box-u label {
    position: relative;
    font-size: 25px;
}
.box .box-u input {
    padding: 10px;
    border: 1px solid ;
    border-radius: 8px;
    width: 380px;
}
.button {
    background: #a21500;
    border-radius: 20px;
    border: none;
    width: 245px;
    height: 65px;
    font-size: 22px;
    color: white;
    margin: 15px 0;
}

header {
    width: 100%;
    max-height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    
}
.img-logo {
    width: 225px;
    height: 120px;
    padding: 10px;
    margin: 30px 0px 0px 50px;   
    cursor: pointer;
}

.container-logo {
    display: flex;
    align-items: center;
}
.logo-texto {
    margin-left: 20px;
}
.menu li {
    display: inline-block;
    margin-right: 100px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 21px;
}
.menu li:hover {
    color: #3d3e40;
}

.menu li a {
    font-size: 80px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    
}
.menu button {
    width: 70px;
    height: 50px;
    font-size: 19px;
    color: #fff;
    background-color: #3d3e40;
    border-radius: 5px;
    margin-right: 100px;
}

footer {
    display: flex;
    width: 100%;
    background-color:#a21500;
    bottom: 0;
    position: fixed;
}
footer .boxs {
   display: flex;
   flex-direction: column;
   padding: 20px;
   flex:1;
}
footer .area--icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer .areat {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
h1{ 
    text-align: center;
    padding-bottom: 20px;
}
.boxs h2 {
    color: #fff ;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxs ul li {
    margin: 10px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.boxs ul li a {
    text-decoration: none;
}
.imgb {
    width: 100px;
    height: 100px;
    margin: 24px 0px 0px 65px;
}
.rsicon {
    width: 30px;
    height: 30px;
}
.boxs a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.boxs a:hover {
    color: #6b6b6b;
}
.button-container{
    display: flex;
    justify-content: center;
}