@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.boxs h2 {
    color: #fff ;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxs ul li {
    margin: 10px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.boxs ul li a {
    text-decoration: none;
}

.imgb {
    width: 100px;
    height: 100px;
    margin: 24px 0px 0px 65px;
}

.rsicon {
    width: 30px;
    height: 30px;
}
.boxs a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.boxs a:hover {
    color: #6b6b6b;
}
.boxs h2 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxs ul li {
    margin: 10px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.boxs ul li a {
    text-decoration: none;
}
.imgb_left {
    margin-inline-start: 300px;
    justify-content: center;
    align-content: center;
}

.imgb_right {
    margin-inline-end: 300px;
    justify-content: center;
    align-content: center;
}

.imgb_left img{
    width: 50px;
    height: 50px;
}

.imgb_right img{
    width: 50px;
    height: 50px;
}

.rsicon {
    width: 30px;
    height: 30px;
}
.boxs a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.boxs a:hover {
    color: #6b6b6b;
}
body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caixas {
    width: 52% ;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    align-items: center;
    margin-bottom: 90px;
}
.imagens1 img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.imagens2 img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.caixa_mural {
    height: auto;
    width: auto;
    justify-content: center;
    align-self: center;
    display: flex;
    margin: 10px;
    
}
.imagens:hover {
    cursor: pointer;
}

.button {
    width: 300px;
    height: 70px;
    font-size: 20px;
    background: #A21500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.button:hover {
    width: 320px;
    height: 80px;
}

.gerenciador{
    display: block;
    margin-inline-start: 5px;
    top: 0;
    font-size: 20px;
    width: 250px;
    height: 760px;
    justify-content: left;
    background-color: #d1d1d1;
}

.gerenciador li a{
    color:black;
    text-decoration: none;
}

.gerenciador a:hover{
    color:#3d3e40;
}

.gerenciador ul li a{
    text-decoration: none;
    font-size: 18px;
}

.gerenciador li{
    padding: 10px 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-inline-start: 10px;
    margin-inline-end: 15px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    border: #6b6b6b;
    background-color: #fff;
    list-style: none;
    box-shadow: 2px 2px #acacac;
}


.titulo_gerenciador{
    background-color: #18191a;
    color:white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 10px;
    margin-block-end: 12px;

}


.titulo_mural{
    background-color: #A21500;
    height: 50px;
    width: 1600px;
    color:white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-block-start: 10px;
}


.trash {
    width: 20px;
    height: 20px;
    align-self: center;
}
.quadro_mural {
    width: 100%;
    padding: 0;
}

.mural_section {

    width: 100%;
    padding: 6rem 0;

}



.preview-image img {
    width: 250px;
    height: 225px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.imagem input {
    display: none;
}
.imagem label {
    background: #d1d1d1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 25px;
}
.legenda input {
    width: 300px;
    height: 35px;
    padding: 10px;
    font-family: 'Calibri';
    font-size: 20px;
}

.upload_imagem {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: #0b721c;
    border-radius: 5px;
}

