@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.boxs h2 {
    color: #fff ;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxs ul li {
    margin: 10px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.boxs ul li a {
    text-decoration: none;
}

.imgb {
    width: 100px;
    height: 100px;
    margin: 24px 0px 0px 65px;
}

.rsicon {
    width: 30px;
    height: 30px;
}
.boxs a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.boxs a:hover {
    color: #6b6b6b;
}
.boxs h2 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxs ul li {
    margin: 10px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.boxs ul li a {
    text-decoration: none;
}
.imgb_left {
    margin-inline-start: 300px;
    justify-content: center;
    align-content: center;
}

.imgb_right {
    margin-inline-end: 300px;
    justify-content: center;
    align-content: center;
}

.imgb_left img{
    width: 50px;
    height: 50px;
}

.imgb_right img{
    width: 50px;
    height: 50px;
}

.rsicon {
    width: 30px;
    height: 30px;
}
.boxs a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.boxs a:hover {
    color: #6b6b6b;
}
body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagens1 img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.imagens2 img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.caixa_agenda {
    height: auto;
    width: auto;
    justify-content: center;
    align-self: center;
    display: flex;
    margin: 10px;
    
}

.imagens:hover {
    cursor: pointer;
}



.menu_gerenciador { 
    margin-block-start: 10px;
    background-color: #d1d1d1;
    justify-content: center;
    height: auto;
}

.conteudo_gerenciado {
    width: 1600px;
    padding: 0;
    margin: 0;
}



.gerenciador{
    display: block;
    margin-inline-start: 5px;
    top: 0;
    font-size: 20px;
    width: 250px;
    height: 760px;
    justify-content: left;
    background-color: #d1d1d1;
}

.gerenciador li a{
    color:black;
    text-decoration: none;
}

.gerenciador a:hover{
    color:#3d3e40;
}

.gerenciador ul li a{
    text-decoration: none;
    font-size: 18px;
}

.gerenciador li{
    padding: 10px 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-inline-start: 10px;
    margin-inline-end: 15px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    border: #6b6b6b;
    background-color: #fff;
    list-style: none;
    box-shadow: 2px 2px #acacac;
}


.titulo_gerenciador{
    background-color: #18191a;
    color:white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 10px;
    margin-block-end: 12px;

}

.titulo_agenda{
    background-color: #A21500;
    height: 50px;
    width: 1600px;
    color:white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-block-start: 10px;
}

.agenda_comum {
    width: 1600px;
    height: 100%;
}


.agenda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}


.consulta_modalidade {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 550px;
    align-items: center;
    margin-bottom: 20px;
}

.titulos {
    
    font-size: 30px;
    margin: 0;
    text-align: center;
    height: 40px;
    line-height: normal;
    justify-content: center;
    
} 

.modalidade_input {
    width: 500px;
    height: 65px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Calibri';
    border-radius: 5px;
    margin-block-end: 15px;
}

.separador {
    width: 2.5px;
    height: 550px;
    background-color: #b1b1b1;
}

.aluno_input {
    width: 500px;
    height: 65px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Calibri';
    border-radius: 5px;
    margin-block-end: 15px;
}

.alunos {
    width: 500px;
    height: 325px;
    box-shadow: inset 0.1px 3px 3px 3px #acacac;
    padding: 10px;
    overflow-y: hidden;
}

.alunos li{
    margin: 15px;
}

.menu_calendario {
    width: 500px;
    height: 500px;
    background-color:#abcaa9c9;
    border-radius: 10px;
}

.menu_calendario_data_atual {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px;
}


.menu_calendario_data_atual .current-date{  
    font-size: 30px;
    align-content: center;
    margin: 0px;
}

.menu_calendario span{
    font-size: 40px;
    cursor:pointer;
}

.menu_calendario span:hover{
    background-color: #869c84c9;
    border-radius: 50%;
    color: #313133;
}

.calendar {
    padding: 0px 10px 0px;
}

.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .weeks{
    color: #777777;
    font-size: 20px;
}

.calendar .weeks li{
    margin-bottom: 15px;
    cursor: pointer;
}

.calendar .weeks li:hover{
    border-radius: 10px;
    background-color: #869c84c9;
}

.calendar ul li{
    width: calc(100% / 7);
    justify-items: center;
    text-align: center;
}

.calendar .days li{
    margin-bottom: 25px;
    cursor:pointer;
}

.calendar li.inactive{
    color:#aaaaaa;
}

.calendar li.active{
    color:#fff;
    background-color: #A21500;
    border-radius: 1em;
}

.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);

}

.days li:hover{
    background-color: #869c84c9;
    border-radius: 1em ;
}

.semana_anterior {
    display: flex;
    justify-content: left;
    align-items: center;
}

.semana_anterior h2 {
    margin-left: 5px;
}

.semana_posterior {
    display: flex;
    justify-content: right;
    align-items: center;
}

.semana_posterior h2{
    margin-right: 5px;
}

.Titulo_Semana{
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
}

.Titulo_Semana span{
    font-size: 40px;
    cursor:pointer;
}

.Titulo_Semana span:hover{
    background-color: #9b9b9bc9;
    border-radius: 50%;
    color: #313133;
}

.Semana-Dia-Atual_adm {
    padding: 8px;
    display: flex;
    
}

.Semana-Dia-Atual_adm tr{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
}

.Semana-Dia-Atual_adm th{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}

.Semana-Dia-Atual_adm tr td {
    justify-items: center;
    text-align: center; 
}

.lista_aulas_adm {
    height: 400px;
    overflow-y:auto;
    border: 2px solid black;
    width: 1150px;
}


.atributo_aula{
    width: 150px;
    height: 50px;
    background-color: #d1d1d1;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    align-content: center;
   
    
}


.atributo_aula:hover{
    background: #777777;
    color: #fff;
}

.Agenda_Publica {
    display: flex;
    width: auto;
    margin-bottom: 45px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    line-height: normal;
}

.header_agenda_adm {

    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    

}





.Agenda_Publica  ul li{
    background-color: #18191a;
    width: 150px;
    height: 75px;
    color: #fff;
    margin-bottom: 10px;
    align-content: center;
    justify-content: left;
    list-style: none;

}

.alter_modalidade {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
}

.alter_modalidade input, select{
    width: 400px;
    height: 60px;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Calibri'; 
}

.alter_modalidade form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.Inserir_Excluir{
    width: 120px;
    height: 50px;
    background-color: #3d3e40;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    transition: all .3s;
    cursor: pointer;
}

.Inserir_Excluir:hover{
    background-color: #686869;
    transform: scale(0.95);
}

.Inserir_Excluir:active {
    transform: scale(0.90);
}

.alter_aula{
    background-color: #18191a;
    width: 420px;
    height: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    border:2px #18191a solid;
    transition: all .4s;
    z-index: -1;
    transform: scale(.4);
    opacity: 0;
    top:35%;
    left: 50%;
}

.alter_aula.opened {
    position: absolute;
    z-index: 1;
    transform: scale(1);
    opacity: 1;
    top:35%;
    left: 50%;

}

.alter_aula h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.check_buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px #fff solid;
    text-align: center;
}

.check_buttons p {
    color: #fff;
    text-align: center;
}

.modalidade {
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.modalidade select {
    background-color: #aaaaaa;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    border-radius: 0;
    font-size: 25px;
    border: none;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}

.inscritos {
    background-color: #aaaaaa;
    text-align: center;
}

.liga_desliga__checkbox{
    position: absolute;
    opacity: 0;
}

.liga_desliga__botao, .once_all_button{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}

.liga_desliga__botao::before, 
.liga_desliga__botao::after{
    content: "";
    transition: all 0.3s ease;
}

.liga_desliga__botao::before{
    display: inline-block;
    width: 3em;
    height: 1.5em;
    border-radius: 1em;
    background: #A21500;
}

.liga_desliga__botao::after{
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 1.3em;
    height: 1.3em;
    background: #fff;
    border-radius: 100%;
}

.liga_desliga__checkbox:checked + .liga_desliga__botao::before{
    background: #93be62;
}

.liga_desliga__checkbox:checked + .liga_desliga__botao::after{
    left: 1.60em;
}

.once_all_button::before, 
.once_all_button::after{
    content: "";
}

.once_all_button::before{
    display: inline-block;
    width: 1.45em;
    height: 1.45em;
    border-radius: 100%;
    background: #fff;
}

.once_all_button::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    width: 1.1em;
    height: 1.1em;
    background: #fff;
    border-radius: 100%;
}

.liga_desliga__checkbox:checked + .once_all_button::after{
    background: #A21500;
    
}

.alter_professor {
    display: flex;
    background-color: #acacac;
    border-top: 2px #fff solid;
    margin-bottom: 1px;
}

.alter_professor p {
    font-size: 15px;
    align-self: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.alter_professor select {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    justify-content: left;
    width: 100%;
}

.alter_participantes button{
    background-color: #598134;
    border:none;
    border-radius: 5px;
    height: 20px;
    font-size: 12px;
    font-family: 'Calibri';
    width: 55px;
    padding: 3px;
    text-align: center;
    align-self: center;
    color: #fff;
}


.alter_participantes button:hover{
    background-color: #3d5823;
    cursor: pointer;
}



.alter_participantes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #acacac;
}

.alter_participantes div{
    display: flex;
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    align-content: center;
    justify-content: space-between;
}

.alter_participantes input {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;  
    font-size: 20px;
    font-family: 'Calibri';
    font-weight: 300;
    padding: 5px;
}



.salvar_fechar {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cancelar_button {
    width: 130px;
    height: 30px;
    background-color: #A21500;
    color: #fff;
    font-family: 'Calibri'; 
    font-weight: 400;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    border: none;
}

.salvar_button {
    width: 130px;
    height: 30px;
    background-color: #598134;
    color: #fff;
    font-family: 'Calibri'; 
    font-weight: 400;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    border: none;
}

.salvar_button:hover {
    background-color: #3d5823;
    cursor: pointer;
}

.cancelar_button:hover {
    background-color: #741000;
    cursor: pointer;
}

.inserir_nova_aula div {

    display: flex;
    margin: 15px;
    margin-left: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.inserir_nova_aula input, .inserir_nova_aula select{

    width: 300px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    box-shadow: 0px 1px 2px 2px #acacac;
    height: 50px;
}

.inserir_nova_aula label {

    font-size: 25px;
    width: 90px;
    text-align: center;

}

.agenda_section {

    width: 100%;
    padding: 6rem 0;

}

.Inserir_Aula{
    width: 200px;
    height: 50px;
    background-color: #3d3e40;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}

.Inserir_Aula:hover{
    background-color: #686869;
    transform: scale(0.95);
}


.Inserir_Aula:active {
    transform: scale(0.90);
}