@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.planosadm_section {
    height: 103vh
}

.input_b {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    margin: 2;
}

.input_ratio {
    margin: 10px;

}

.caixa_planosadm {
    display: flex;
    margin-top: 35px;
}

.manilhas {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}


.titulo {
    background-color: #A21500;
    height: 50px;
    width: 1600px;
    color:white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-block-start: 10px;
}

footer {
    display: flex;
    width: 100%;
    background-color:#A21500;
    bottom: 0;
    
}

.tela_adm_plamos {
    width: 1600px;
    padding: 0;
}

.criar_plano {
    height:  500px ;
    width: 550px;
}

.tabela_criar input {
    border-radius: 3px;
    width: 85px;
    margin: 4px;
    text-align: center;
    border: none;
    background: #c2c2c2;
    height: 24px;
}

.beneficios input {
    border-radius: 3px;
    box-shadow: 0;
    width: 250px;
    border: none;
    background: #c1c1c1;
    height: 25px;
    text-align: center;
}

.mensal input {
    border-radius: 3px;
    box-shadow: 0;
    width: 69px;
    border: none;
    background: #c2c2c2;
    height: 25px;
    text-align: center;
    margin: 5px;
}

.nomeplano input {border-radius: 3px;
    box-shadow: 0;
    width: 135px;
    border: none;
    background: #c2c2c2;
    height: 25px;
    text-align: center;
    margin: 5px;
}

.selecione {
    height: 25px;
    margin: 5px;
}

.botao_pef1 {
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: #0b721c;
    border-radius: 5px;
    margin-top: 15px;
    text-transform: capitalize;
    
}

.botao_pef2 {
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    margin-top: 15px;
    text-transform: capitalize;
}

.botoes_pef {
        width: 300px;
        justify-content: space-between;
        display: flex;
}