@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: #D9D9D9;
}
.recuperação {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    height: auto;
    width: auto;
    border-radius: 10px;
    background: #fff;
}
.recuperação h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.recuperação h3 {
    font-size: 25px;
    text-align: start;
    margin: 25px 0px;
    width: 55%;
    color: #6b6b6b;
}
.recuperação span {
    font-size: 18px;
    text-align: start;
    margin: 25px 0px;
    width: 350px;
    color: #6b6b6b;
}
.recuperação button {
    width: 200px;
    height: 52px;
    font-size: 19px;
    color: #fff;
    background: #1d1d1d;
    border-radius: 5px;
    border: none;
}
.emailveri {
    display: flex;
    flex-direction: column;
}
.emailveri input {
    width: 525px;
    height: 50px;
    border-radius: 10px;
    font-size: 19px;
    padding: 10px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    border: 1px solid
}

@media (max-width: 780px) {
    .recuperação {
        display: flex;
        align-items: center;
        padding: 0px;
        width: 300px;
        background: #fff;
    }

    .recuperação h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .recuperação h3 {
        font-size: 18px;
        text-align: start;
        margin: 10px 0px;
        width: 95%;
        color: #6b6b6b;
    }

    .recuperação span {
        font-size: 16px;
        text-align: center;
        margin: 10px 0px ;
        width: auto;
        color: #6b6b6b;
    }

    .emailveri input {
        width: 300px;
        height: 40px;
        border-radius: 8px;
        font-size: 15px;
        padding: 5px;
        border: 1px solid
    }

    .recuperação button {
        width: 185px;
        height: 50px;
        font-size: 16px;
        border-radius: 4px;
    }
}

